lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json

pids
logs
results

npm-debug.log
node_modules
.sass-cache
.idea
/app
yarn.lock
!/src/app/shared/data/config.js
!/src/app/shared/data/externtalData.js
