# see https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
*.iml
*.ipr
*.iws
.idea/

# see https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
Icon
Network Trash Folder
Temporary Items

# Magnolia CMS
*/config/webapp-local.properties
cache
logs/
overlays/
repositories/
tmp

# JRebel
rebel-remote.xml
rebel.xml

# Frontend
*/node_modules
node_modules
app
