/* ===================================================
Generic Webfont Generation
=================================================== */

/* ---------------------------------------------------
Global Font
--------------------------------------------------- */
@font-face {
	font-family: "iconfont";
	src: url("../fonts/iconfont.eot?c0742f4574348dc7b87a6450f84cd808?#iefix") format("embedded-opentype"),
	url("../fonts/iconfont.woff2?c0742f4574348dc7b87a6450f84cd808") format("woff2"),
	url("../fonts/iconfont.woff?c0742f4574348dc7b87a6450f84cd808") format("woff");
}

@if not variable-exists('webfont-icons') {
	$webfont-icons: () !global;
}

/*
Font Map
----------------------- */
$webfont-icons: (
	'noun_Search_1279709_000000': ('iconfont' 'f101'),
);

/* ---------------------------------------------------
Font Mixin
--------------------------------------------------- */
@mixin webfont-icon($name) {
	$icon: map-get($webfont-icons, $name);
	$character-code: "\"\\" + nth($icon, 2) + "\"";

	line-height: inherit;

	&:before {
		font-family: nth($icon, 1) !important;
		font-style: normal;
		font-weight: normal !important;
		vertical-align: top;
		content: #{$character-code};
	}
}

/* ---------------------------------------------------
Font Icon Classes
--------------------------------------------------- */
.is-font-icon-noun_Search_1279709_000000 {
	@include webfont-icon(noun_Search_1279709_000000);
}

