/* ===================================================
VEAMS SETTINGS
=================================================== */
// $min-width defines the general behaviour of the bp mixin and
// handles the project as mobile-first project when set to `true`
$min-width: true;

/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
// Breakpoints
$bp-large: 48em; // 768px
$bp-x-large: 60em; // 960px


// BREAKPOINTS MAP
// If you want to work with the desktop-first approach
// turn the values upside down and set $min-width to false
$breakpoints: (
	'large': $bp-large,
	'x-large': $bp-x-large,
);

:root {
	--color-red: red;
}
