<ul>
	<li>
		<a href="#" onclick="Veams.Vent.publish(Veams.EVENTS.toggler.toggle)">Toggle the content</a>
	</li>
</ul>

{{! wrapWith START: Slider }}
{{#wrapWith "toggler" settings=this.settings content=this.content}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa deleniti distinctio eligendi enim explicabo,
		incidunt laborum laudantium magnam minus mollitia, perspiciatis porro quibusdam quis ratione reiciendis sapiente
		temporibus vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus commodi corporis dicta
		excepturi, harum id, magnam maxime minima molestias nam nostrum perspiciatis possimus quaerat quis rerum
		suscipit ut, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aperiam
		consectetur culpa dolor dolorem esse in, libero magnam maiores, maxime perspiciatis quasi quod quos ratione sed
		tempore tenetur totam.</p>
{{/wrapWith}}
{{! wrapWith END: Slider}}
