---
title: Build Better Prototypes with Veams
type: Style Guide
contextData: docs
---

{{#extend "lyt-docs-default"}}
	{{#content "main"}}

		<div class="docs">

			<div class="docs__sidebar">
				<div class="docs__sidebar-header">
					<img src="" class="docs__logo" alt="logo">
				</div>
				<div class="docs__sidebar-list">
					{{> sitemap }}
				</div>
			</div>

			<div class="docs__main">

			</div>
		</div>
	{{/content}}
{{/extend}}
