---
title: Build Better Prototypes with Veams
type: Style Guide
contextData: docs
---

{{#extend "lyt-docs-default"}}
	{{#content "main"}}

		<div class="docs">

			<div class="docs__sidebar">
				{{> sitemap }}
			</div>

			<div class="docs__main">

			</div>
		</div>
	{{/content}}
{{/extend}}
